<h1>Eat-Da-Burger</h1>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    <h3>{{burger_name}}</h3>
    <button class="devour-button" data-id={{id}}>devoured</button>
      {{!-- {{> devour-burger devoured=true}} --}}
    {{/unless}}
  {{/each}}
</ul>


<form class="create-form" >

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <textarea id="burger" name="burger-name" rows="4" cols="50"></textarea>
  </div>


  {{!-- <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div> --}}

  <button type="submit" id="eat-burger" >Submit</button>
</form>

<ul>
  {{#each burgers}}
    {{#if devoured}}
     <h3>{{burger_name}}</h3>
    {{/if}}
  {{/each}}
</ul>