<h1>Eat-Da-Burger</h1>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    <h3>{{burger_name}}</h3>
    <button class="devour-button" data-id={{id}}>devoured</button>
      {{!-- {{> devour-burger devoured=true}} --}}
    {{/unless}}
  {{/each}}
</ul>


<form class="create-form" >

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <textarea id="burger" name="burger-name" rows="2" cols="50"></textarea>
  </div>



  <button type="submit" id="eat-burger">Submit</button>
</form>

<ul>
  {{#each burgers}}
    {{#if devoured}}
     <h3>{{burger_name}}</h3>
    {{/if}}
  {{/each}}
</ul>

<img src="https://www.kindpng.com/picc/m/749-7498084_burger-in-plate-png-transparent-png.png" class="burger-img">


