body {
    background: url(https://eskipaper.com/images/black-desktop-wallpaper-1.jpg);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: center;
    color: white;
}

ul {
    padding-inline-start: 0px !important;
}

.create-form {
    display: block;
    margin: 0 auto;
}

#eat-burger {
    display: block;
    margin: 10px auto;

}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

label {
    font-weight: bold; 
    margin: 10px;
}

